.hero {
    height: 822px;
    padding: 230px 0;
    animation-name: bgChange;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-image: url('../assets/Stars.svg'), url('../assets/Background.png');
    background-position: top 50px right 50px, center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
}

@keyframes bgChange {
    0%{
        background-position: center, center;
    }
    50%{
        background-image: url('../assets/Rays.svg'), url('../assets/Stars.svg'), url('../assets/Background.png');
        background-size: 50%, contain, cover;
        background-position: left, center, center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    }
    100%{
        background-image: url('../assets/Stars.svg'), url('../assets/Background.png');
        background-position: top 50px right 50px, center;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, cover;
    }
}

.hero h3 {
    font-family: 'Source Sans 3', sans-serif;
    color: rgba(255, 255, 255, 0.7);
}

.logo {
    margin-bottom: 13px;
    transition: transform 0.5s linear;
}

.logo:hover {
    cursor: pointer;
    transform: rotateY(180deg) scale(1.5);
}

#about {
    height: 700px;
    background-color: #EEEEEE;
}

#about h2 {
    margin-bottom: 40px;
}

#about h3 {
    margin-bottom: 48px;
}

.text-container {
    justify-content: space-between;
    text-align: left;
    margin-bottom: 46px;
}

#about p {
    width: 45%;
}

#about button {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s linear;
}

#about button:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-color: #55C2D8;
    border-radius: 18px;
    transform-origin: right center;
    transition: transform 0.3s linear;
    z-index: -1;
}

#about button:hover {
    transform: skewY(10deg);
}

#about button:hover:before {
    transform: skewY(-10deg);
}

#stories {
    height: 637px;
    background-image: url('../assets/IMG_1334_72dpi_RGB_\ 1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 100;
}

#stories::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(140, 79, 42, 0.3);
    z-index: -1;
}

#stories h2 {
    color: #FFFFFF;
    margin-bottom: 53px;
}

#stories button {
    width: 145px;
    height: 143px;
    border-radius: 50%;
    padding: 30px;
    margin-bottom: 70px;
    transition: background-color 0.5s;
}


#stories button .svg-icon path {
    fill: #FFFFFF;
    transition: fill 0.3s;
}

#stories button:hover {
    background-color: white;
}

#stories button:hover .svg-icon path {
    fill: #55C2D8;
}




#stories h3 {
    color: #FFFFFF;
}

@media (max-width:768px) {

    #about {
        height: auto;
    }

    #about .container .text-container {
        flex-direction: column;
    }

    #about .container .text-container p:first-child {
        margin-bottom: 25px;
    }

    #about .container .text-container p {
        width: 100%;
    }

    #stories {
        height: auto;
    }

    #stories button {
        width: 100px;
        height: 100px;
        padding: 25px 20px 32px 26px;
    }

    #stories button img {
        width: 37px;
        height: 47px;
    }

}